Source: com.github.jeremypw.gnonograms
Maintainer: Jeremy Paul Wootten <jeremywootten@gmail.com>
Section: x11
Priority: extra
Build-Depends: meson,
               desktop-file-utils,
               appstream,
               debhelper (>= 9),
               valac (>= 0.30),
               libglib2.0-dev (>= 2.48),
               libgtk-3-dev (>= 3.18),
               libgee-0.8-dev (>= 0.18),
               libgranite-dev (>= 0.3)
Standards-Version: 4.1.1

Package: com.github.jeremypw.gnonograms
Architecture: any
Description: Generate, draw and solve nonogram logic puzzles
Depends: ${misc:Depends}, ${shlibs:Depends}


