[Desktop Entry]
Name=gnonograms
Comment=Create and solve nonogram puzzles.
Keywords=game;puzzle;logic;
GenericName=Logic Game

Exec=com.github.jeremypw.gnonograms %f
Icon=com.github.jeremypw.gnonograms
Terminal=false
StartupNotify=true
Type=Application
MimeType=application/x-gnonogram-puzzle;
Categories=GNOME;GTK;Game;
X-GNOME-Gettext-Domain=com.github.jeremypw.gnonograms
X-GNOME-UsesNotifications=false


